<!-- For loop for Tabs -->
<ul class="nav nav-tabs" id="guitabs">
	<li class="active"><a class="link">home</a></li>
	<% for(var i=0; i<gui.length; i++) {%>
		<li><a class="link"><%= gui[i]['category'] %></a></li>
	<% } %>
</ul>

<!-- For loop for button Divs -->
<div id="home" class="controlpannel">
	<div class="colorvaluetitle">Red <span id="red-value">0</span></div>
	<div class="slider" id="red"></div>

	<div class="colorvaluetitle">Green <span id="green-value">0</span></div>
	<div class="slider" id="green"></div>

	<div class="colorvaluetitle">Blue <span id="blue-value">0</span></div>
	<div class="slider" id="blue"></div>
</div>

<% for(var i=0; i<gui.length; i++) {%>
	<div id="<%= gui[i]['category'] %>" class="controlpannel">
		<% for(var k=0; k<gui[i]['gui'].length; k++) {%>

			<!-- Generate Button -->
			<%if (gui[i]['gui'][k]['type'] == 'button') {%>  
				<button class="btn button" id="<%= gui[i]['gui'][k]['id'] %>"><%= gui[i]['gui'][k]['title'] %></button>
			<%}%>

			<!-- Generate Slider -->
			<%if (gui[i]['gui'][k]['type'] == 'slider') {%>
				
			<div class="slidervalue"><%= gui[i]['gui'][k]['title'] %> <span id="<%= gui[i]['gui'][k]['id'] %>-value">0</span></div>
				<div class="slider" id="<%= gui[i]['gui'][k]['id'] %>"></div>
			<%}%>

		<% } %>
	</div>
<% } %>